
   .header__button {
    margin-top: 50px;
    margin-bottom: 20px; 
    width: 270px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px white solid;
    position: relative;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 4px;
    transition: 1s;
    overflow: hidden;
   }
   .header__button:focus{
    outline:none;
    }
    .header__button:before{
       content: '';
       display: block;
       position: absolute;
       background: rgba(255,255,255,.5);
       width: 60px;
       height: 100%;
       left: 0;
       top: 0;
       opacity: .5;
       filter: blur(30px);
       transform: translateX(-130px) skewX(-15deg);
   }
   
   .header__button:after{
       content: '';
       display: block;
       position: absolute;
       background: rgba(255,255,255,.2);
       width: 30px;
       height: 100%;
       left: 30px;
       top: 0;
       opacity: 0;
       filter: blur(30px);
       transform: translate(-100px) scaleX(-15deg);
   }
   .header__button:hover {
       background: #338033;
    cursor:pointer;
    }
   
    .header__button:hover:before {
      transform: translateX(300px) skewX(-15deg);
       opacity: .6;
       transition: .7s;
   }
   
   .header__button:hover:after {
      transform: translateX(300px) skewX(-15deg);
       opacity: 1;
       transition: .7s;
   }
.header-line{
    @media screen and (max-width:768px){
        display: none;
    }
    transform: rotate(-90deg);
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 150px;
    left:-100px;
&__text{
    font-size: 26px;
    color: white;
    text-transform: uppercase;
}
&__line{
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin-right: 30px;
    }
}
.header{
    width: 100%;
    position: relative;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../backgroundAssets/header.png);
   
    &__text-block{
        text-align: right;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 670px;
        margin-left: auto;
        @media screen and (max-width:992px) {
            margin: auto;
        }
        @media screen and (max-width:768px) {
            text-align: center;
            display: flex;
            align-items: center;
            width: 90%;
        }
     
    }
    &__container{
        margin: auto;
        max-width: 1170px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   &__filter{
       width: 100%;
       height: 100vh;
       background-color: rgba(0, 0, 0, 0.164);
   }
   &__title{
       margin-bottom: 35px;
       text-transform: uppercase;
       font-size: 55px;
       letter-spacing: 15px;
       color: white;
       @media screen and (max-width:578px) {
        font-size: 40px;
        letter-spacing: 5px;
    }
   }
   &__subtitle{
       font-weight: 300;
       font-size: 24px;
       letter-spacing: 5px;
       color: rgba(255, 255, 255, 0.712);
       &--small{
           font-size: 18px;
           letter-spacing: 3px;
       }
   }

    
}
.nav{
    transition: .5s all ease;
    color: white;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    top: 0px;
    display: flex; 
    width: 100%;
    height: 80px;
    border-bottom: 1px rgba(255, 255, 255, 0.842) solid;
    &--active{
        background-color: #fff;
        color: black;
        @media screen and (max-width:768px){
            color: white;
        }
    }
  @media screen and (max-width:768px){
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 10;
  }
    &__mobile{
        display: none;
        @media screen and (max-width:768px){
            margin-left: auto;
            margin-right: 30px;
            order: 0;
            width: 45px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: white;
            text-transform: uppercase;
            &:active{
               
                transform: scale(0.7,0.7);
            }
        }
    }
    &__burger{
        max-width: 100%;
    }
    &__logo{
        order: 0;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
      
        justify-self: center;
        text-transform: uppercase;
        @media screen and (max-width:768px){
            padding-left: 50px;
        }
    }
    &__page{     
        
        display: flex;
        padding-left: 10px;
        width: 45%;       
        @media screen and (max-width:768px){
            transition: 1s all ease;
            transition-delay: .1s;
         transform: translateY(-300px);
         overflow: hidden;
            background-color: rgba(0, 0, 0, 0.795);
            justify-content: center;
            order: 1;
            width:100%;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0;
            .nav__item{
                font-size: 21px;
            }
            &--active{
                transform: translateY(0px);
                height: auto;
                padding-bottom: 50px;
                padding-top: 50px;
            }
        }
        @media screen and (max-width:380px){
            .nav__item{
                font-size: 17px;
            }
        }
     
    }
    &__user{    
        margin-left: auto;
        width: 45%;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width:768px){          
        transition-delay: .3s;
            transition: 1.5s all ease;
            transform: translateY(-650px);
           overflow: hidden;
            justify-content: center;
            order: 1;
            width: 100%;
            padding-bottom: 0px;
            background-color: rgba(0, 0, 0, 0.795);
            .nav__button{     
                font-size: 22px;
            }
            &--active{
                transform: translateY(0px);
                height: auto;
                padding-bottom: 40px;
            }
        }
       
       
    }
    &__item{
        transition: .4s all ease;
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;   
        text-transform: uppercase;
        &:hover{
            cursor: pointer;
            backdrop-filter: brightness(50%);
        }
    }
    &__button{
        transition: .4s all ease;
        &:hover{
            cursor: pointer;
            backdrop-filter: brightness(50%);
        }
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-transform: uppercase;
        padding-left: 25px;
        padding-right: 25px;
        height: 100%;
        border-left: 1px rgba(255, 255, 255, 0.842) solid;
    
       
    }
    &__icon{
        margin-right: 9px;
    }
}
