@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1920px;
    max-width: 1920px;
    @media screen and (max-width:1920px) {
        width: 100%;
    }
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.content-text{
        color: #6e774a;
        font-size: 18px;
        line-height: 2.222;
        &--faq{
            letter-spacing: 4px;
            padding-bottom: 15px;
            padding-top: 15px;
        }
}
.page-title{
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #1c1c1b;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    &--small{
        font-size: 18px;
        letter-spacing: 2px;
    }
}
.button-text{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
.button-line{
    width: 45px;
    height: 2px;
    background-color: #fff;
    margin-left: 10px;
}
