.feedback{
    background-image: url('/img/feedback1.png');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;

    &__slider{
        margin: auto;
       max-width: 1170px;
        overflow-x: hidden;
    }
    &__item{
        background-color: #fff;
        height: 100px;
    }
}