.about-us {
  padding-top: 100px;
  font-family: 'Oswald', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
}

.about-us__title {
  letter-spacing: 3px;
  padding-bottom: 25px;
  font-size: 24px;
  color: #1c1c1b;
  text-align: center;
  text-transform: uppercase;
}

.about-us__title--left {
  text-align: left;
}

@media screen and (max-width: 1030px) {
  .about-us {
    padding-top: 40px;
  }
}

.logos-block {
  position: relative;
}

.logos-block__content {
  position: absolute;
  top: 20%;
  left: 12%;
}

.about-tabs {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1030px;
}

@media screen and (max-width: 1030px) {
  .about-tabs {
    width: 100%;
    padding-top: 20px;
  }
}

.about-tabs__tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-tabs__item {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  height: 60px;
  border-bottom: 2px #ced6af solid;
  margin-bottom: 80px;
}

.about-tabs__item:hover {
  cursor: pointer;
  background-color: #ebf5e1;
}

.about-tabs__item--active {
  border-bottom: 2px black solid;
}

@media screen and (max-width: 992px) {
  .about-tabs__item {
    margin-bottom: 20px;
  }
}

.about-tabs__content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-tabs__text {
  padding-bottom: 50px;
}

.about-tabs__info {
  width: 35%;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 992px) {
  .about-tabs__info {
    width: 80%;
    padding-top: 30px;
  }
}

.about-tabs__images {
  padding-left: 20px;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .about-tabs__images {
    text-align: center;
    width: 80%;
    padding-left: 0px;
  }
}

.about-tabs__img {
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 15px;
  width: 570px;
  height: 300px;
}

@media screen and (max-width: 1100px) {
  .about-tabs__img {
    max-width: 100%;
  }
}
/*# sourceMappingURL=AboutUs.css.map */